<section class="flex h-full items-center p-16">
  <div
    class="container mx-auto my-8 flex flex-col items-center justify-center px-5"
  >
    <div class="max-w-md text-center">
      <h2 class="mb-8 text-9xl font-bold">
        <span class="sr-only">Error</span>
        <span
          class="bg-gradient-to-r from-primary-500 to-secondary-500 bg-clip-text text-transparent"
          >404</span
        >
      </h2>
      <p class="text-3xl font-semibold md:text-3xl">
        Ups... Nie ma takiej strony.
      </p>
      <p class="mb-8 mt-4 text-lg text-gray-600 dark:text-slate-400">
        confnij się do poprzedniej strony albo
      </p>
      <a
        rel="noopener noreferrer"
        href="/"
        class="btn ml-4 bg-gray-900 text-white hover:bg-gray-800 dark:bg-gray-700 dark:hover:bg-gray-800"
        >Wróć na stronę główną</a
      >
    </div>
  </div>
</section>
