---
import { Icon } from 'astro-icon'
import { Image } from 'astro:assets'
import iphone from '~/assets/images/iphone-3.jpg'

const items = [
  [
    {
      question: 'Jak długo trwa naprawa?',
      answer: `Naprawy staramy się w większości wykonywać już tego samego dnia, często nawet na miejscu. Wszystko jednak zależy od skomplikowania usterki oraz dostępności części.`,
    },
    {
      question: 'Czy mam gwarancję na wykonaną usługę?',
      answer: `Tak, na każdą naprawę dajemy 3 miesiące gwarancji.`,
    },
    {
      question: 'Czy mogę wysłać do Was swój sprzęt kurierem?',
      answer: `W tej chwili nie prowadzimy naprawy wysyłkowej. Jeśli jesteś z Poznania lub okolic zapraszmy do naszego serwisu przy ulicy Obornickiej 309.`,
    },
  ],
]
---

<section class="mx-auto max-w-6xl px-4 py-16 sm:px-6 lg:px-8 lg:py-32">
  <div class="row-gap-10 grid gap-6 md:grid-cols-2">
    <div class="relative">
      <Image
        class="inset-0 w-full rounded-md bg-gray-400 object-cover object-top shadow-lg dark:bg-slate-700 md:absolute md:h-full"
        src={iphone}
        alt="iPhone 2"
      />
    </div>
    <div class="flex">
      <div class="mr-4 flex flex-col items-center">
        <div class="md:pb-6 md:pr-16">
          <h2 class="font-heading mb-8 text-3xl font-bold lg:text-4xl">FAQ</h2>
          <div>
            {
              items.map((subitems) => (
                <div class="space-y-8">
                  {subitems.map(({ question, answer }) => (
                    <div>
                      <p class="mb-4 text-xl font-bold">
                        <Icon
                          name="tabler:arrow-down-right"
                          class="icon-bold inline-block h-7 w-7 text-primary-500"
                        />
                        {question}
                      </p>
                      {answer.split('\n\n').map((paragraph) => (
                        <p
                          class="mb-2 text-gray-700 dark:text-gray-400"
                          set:html={paragraph}
                        />
                      ))}
                    </div>
                  ))}
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
