---
import { Icon } from 'astro-icon'
import Picture from '~/components/core/Picture.astro'

const items = [
  [
    {
      question: 'Jak długo twa naprawa?',
      answer: `Naprawy staramy się w większości wykonywać już tego samego dnia, często nawet na miejscu. Wszystko jednak zależy od skomplikowania usterki oraz dostępności części.`,
    },
    {
      question: 'Czy mam gwarancję na wykonaną usługę?',
      answer: `Tak, na każdą naprawę dajemy 3 miesiące gwarancji.`,
    },
    {
      question: 'Czy mogę wysłać do Was swój sprzęt kurierem?',
      answer: `W tej chwili nie prowadzimy naprawy wysyłkowej. Jeśli jesteś z Poznania lub okolic zapraszmy do naszego serwisu przy ulicy Obornickiej 309.`,
    },
  ],
]
---

<section class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-32 max-w-6xl">
  <div class="grid gap-6 row-gap-10 md:grid-cols-2">
    <div class="relative">
      <Picture
        class="inset-0 object-cover object-top w-full rounded-md shadow-lg md:absolute md:h-full bg-gray-400 dark:bg-slate-700"
        src={import('~/assets/images/iphone-3.jpg')}
        widths={[400, 768]}
        sizes="(max-width: 768px) 100vw, 432px"
        alt="iPhone 2"
        aspectRatio="432:768"
      />
    </div>
    <div class="flex">
      <div class="flex flex-col items-center mr-4">
        <div class="md:pb-6 md:pr-16">
          <h2 class="mb-8 text-3xl lg:text-4xl font-bold font-heading">FAQ</h2>
          <div>
            {
              items.map((subitems) => (
                <div class="space-y-8">
                  {subitems.map(({ question, answer }) => (
                    <div>
                      <p class="mb-4 text-xl font-bold">
                        <Icon
                          name="tabler:arrow-down-right"
                          class="w-7 h-7 text-primary-500 inline-block icon-bold"
                        />
                        {question}
                      </p>
                      {answer.split('\n\n').map((paragraph) => (
                        <p
                          class="text-gray-700 dark:text-gray-400 mb-2"
                          set:html={paragraph}
                        />
                      ))}
                    </div>
                  ))}
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
