---
import { Icon } from 'astro-icon'
import Logo from '~/components/core/Logo.astro'

const date = new Date().getFullYear()
---

<footer class="border-t border-gray-200 dark:border-slate-800">
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div class="grid grid-cols-12 gap-4 gap-y-8 sm:gap-8 py-8 md:py-12">
      <div class="col-span-12 lg:col-span-8">
        <div class="mb-2">
          <a class="inline-block font-bold text-xl" href="/">
            <Logo />
          </a>
        </div>
        <div class="text-sm text-gray-600">Naprawa elektorniki w Poznaniu.</div>
      </div>
      <div class="flex flex-col col-span-6 lg:col-span-2">
        <div class="text-gray-800 dark:text-gray-300 font-medium mb-2">
          Adres
        </div>
        <p
          class="text-gray-500 dark:text-gray-400 text-sm inline-flex items-center"
        >
          Paweł Medhat
        </p>
        <p
          class="text-gray-500 dark:text-gray-400 text-sm inline-flex items-center"
        >
          ul. Obornicka 309
        </p>
        <p
          class="text-gray-500 dark:text-gray-400 text-sm inline-flex items-center"
        >
          60-689 Poznań
        </p>
        <p
          class="text-gray-500 dark:text-gray-400 text-sm inline-flex items-center"
        >
          NIP: 8771446850
        </p>
      </div>
      <div class="flex flex-col col-span-6 lg:col-span-2">
        <div class="text-gray-800 dark:text-gray-300 font-medium mb-2">
          Kontakt
        </div>
        <ul class="text-sm">
          <li>
            <a
              class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
              href="mailto:serwis@ihave.gsm.pl">serwis@ihave.gsm.pl</a
            >
          </li>
          <li>
            <a
              class="text-gray-600 hover:text-gray-700 dark:text-gray-400 transition duration-150 ease-in-out"
              href="tel:+48222333444">+48 222 333 444</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="md:flex md:items-center md:justify-between py-6 md:py-8">
      <ul class="flex mb-4 md:order-1 -ml-2 md:ml-4 md:mb-0">
        <li>
          <a
            class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
            aria-label="Instagram"
            href="#"
          >
            <Icon name="tabler:brand-instagram" class="w-5 h-5" />
          </a>
        </li>
        <li>
          <a
            class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
            aria-label="Facebook"
            href="#"
          >
            <Icon name="tabler:brand-facebook" class="w-5 h-5" />
          </a>
        </li>
      </ul>
      <div class="text-sm text-gray-700 mr-4 dark:text-slate-400">
        &copy; {date} iHave Serwis. Wszelkie prawa zastrzerzone.
      </div>
    </div>
  </div>
</footer>
