---

---

<section>
  <div class="mx-auto max-w-6xl px-4 sm:px-6">
    <div class="py-16 md:py-32">
      <div class="mx-auto max-w-5xl text-center">
        <h1
          class="leading-tighter font-heading mb-4 text-5xl font-bold tracking-tighter md:text-[3.50rem]"
        >
          Serwis
          <span
            class="bg-gradient-to-r from-primary-500 to-secondary-500 bg-clip-text text-transparent"
            >elektroniki</span
          >
        </h1>
        <div class="mx-auto max-w-3xl">
          <p class="mb-8 text-xl text-gray-600 dark:text-slate-400">
            Naprawiamy smartfony oraz laptopy.
          </p>
          <div
            class="flex max-w-none flex-col flex-nowrap gap-4 px-6 sm:flex-row sm:justify-center"
          >
            <div class="mx-auto w-full">
              <a
                class="btn bg-gray-900 text-white hover:bg-gray-800 dark:bg-gray-700 dark:hover:bg-gray-800"
                href="/cennik">Cennik</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
