---
---

<section>
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div class="py-12 md:pt-32 md:pb-24">
      <div class="text-center pb-10 md:pb-16 max-w-5xl mx-auto">
        <h1
          class="text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-4 font-heading"
        >
          Serwis
          <span
            class="bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500"
            >elektroniki</span
          >
        </h1>
        <div class="max-w-3xl mx-auto">
          <p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
            Naprawiamy smartfony oraz laptopy.
          </p>
          <div
            class="max-w-none px-6 flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4"
          >
            <div class="w-full mx-auto">
              <a
                class="btn text-white bg-gray-900 hover:bg-gray-800 dark:bg-gray-700 dark:hover:bg-gray-800"
                href="/cennik">Cennik</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
