---
import { Icon } from 'astro-icon'
import { Image } from 'astro:assets'
import iphone from '~/assets/images/iphone-1.jpg'
---

<section class="mx-auto max-w-6xl px-4 py-16 sm:px-6 lg:px-8 lg:py-20">
  <div class="row-gap-10 grid gap-6 md:grid-cols-2">
    <div class="md:pb-6 md:pr-16">
      <h2 class="font-heading mb-8 text-3xl font-bold lg:text-4xl">
        Wystarczy klika prostych kroków aby naprawić uszkodzony sprzęt.
      </h2>
      <div class="flex">
        <div class="mr-4 flex flex-col items-center">
          <div>
            <div
              class="flex h-10 w-10 items-center justify-center rounded-full border-2 border-secondary-500"
            >
              <Icon
                name="tabler:arrow-down"
                class="icon-bold h-6 w-6 text-gray-600 dark:text-slate-200"
              />
            </div>
          </div>
          <div class="h-full w-px bg-gray-300 dark:bg-slate-500"></div>
        </div>
        <div class="pb-8 pt-1">
          <p class="mb-2 text-xl font-bold text-gray-900 dark:text-slate-300">
            Krok 1
          </p>
          <p>
            Nie staraj się samemu otwierać/naprawiać telefonu bądź laptopa.
            Jeśli urządzenie zostało zalane - jak najszybciej odłącz
            zasilacz/ładowarkę oraz jeśli to możliwe wyciągnij baterię.
          </p>
        </div>
      </div>
      <div class="flex">
        <div class="mr-4 flex flex-col items-center">
          <div>
            <div
              class="flex h-10 w-10 items-center justify-center rounded-full border-2 border-secondary-500"
            >
              <Icon
                name="tabler:arrow-down"
                class="icon-bold h-6 w-6 text-gray-600 dark:text-slate-200"
              />
            </div>
          </div>
          <div class="h-full w-px bg-gray-300 dark:bg-slate-500"></div>
        </div>
        <div class="pb-8 pt-1">
          <p class="mb-2 text-xl font-bold text-gray-900 dark:text-slate-300">
            Krok 2
          </p>
          <p>
            Zadzwoń i dokładnie opisz nam co stało się z Twoim urządzeniem.
            Pozwoli nam to na dużo szybsze postawienie diagnozy, a w
            konsekwencji sprawniejszą jego naprawę.
          </p>
        </div>
      </div>
      <div class="flex">
        <div class="mr-4 flex flex-col items-center">
          <div>
            <div
              class="flex h-10 w-10 items-center justify-center rounded-full border-2 border-secondary-500"
            >
              <Icon
                name="tabler:arrow-down"
                class="icon-bold h-6 w-6 text-gray-600 dark:text-slate-200"
              />
            </div>
          </div>
          <div class="h-full w-px bg-gray-300 dark:bg-slate-500"></div>
        </div>
        <div class="pb-8 pt-1">
          <p class="mb-2 text-xl font-bold text-gray-900 dark:text-slate-300">
            Krok 3
          </p>
          <p>
            Dostarcz do nas uszkodzony sprzęt, a my zajmiemy się jego naprawą.
          </p>
        </div>
      </div>
      <div class="flex">
        <div class="mr-4 flex flex-col items-center">
          <div>
            <div
              class="flex h-10 w-10 items-center justify-center rounded-full border-2 border-primary-600"
            >
              <Icon
                name="tabler:check"
                class="icon-bold h-6 w-6 text-gray-600 dark:text-slate-200"
              />
            </div>
          </div>
        </div>
        <div class="pt-1">
          <p class="mb-2 text-xl font-bold text-gray-900 dark:text-slate-300">
            Gotowe!
          </p>
          <p class="text-gray-700"></p>
        </div>
      </div>
    </div>
    <div class="relative">
      <Image
        class="inset-0 w-full rounded-md bg-gray-400 object-cover object-top shadow-lg dark:bg-slate-700 md:absolute md:h-full"
        src={iphone}
        alt="iPhone"
      />
    </div>
  </div>
</section>
